/* main */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.section__title {
  font-family: 'Georgia', serif;
  color: var(--acent);
  font-size: 50px;
  font-weight: 700;
}
.section__title-w {
  color: #fff;
  margin-bottom: 30px;
  width: 580px;
}
.section__uptitle {
  font-size: 24px;
  margin-bottom: 10px;
}
:root {
  --acent: #01996D;
  --text: #424242;
}

/* header */
.header {
  background-image: url(../img/header/bg__header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 175px;
  height: 895px;
}
.header__nav__wrap {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  text-decoration: none;
}
.header__mnu {
  display: flex;
  gap: 70px;
}
.header__mnu__item {
  list-style-type: none;
}
.header__mnu__link {
  color: #292929;
  text-decoration: none;
  font-size: 20px;
}
.header__signin {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  margin-right: 35px;
}
.btn {
  color: #fff;
  background-color: var(--acent);
  font-size: 20px;
  border: none;
  border-radius: 4px;
  padding: 20px 50px;
  cursor: pointer;
}
.header__btn {
  padding: 13px 50px;
}
.header__title {
  font-size: 60px;
  max-width: 440px;
  margin-bottom: 30px;
}
.header__descr {
  font-size: 20px;
  max-width: 420px;
  color: var(--text);
  margin-bottom: 30px;
  line-height: 31px;
}

/* hiw */
.hiw {
  padding: 169px 0 51px;
}
.hiw__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.hiw__title__wrap{
  width: 584px;
}
.hiw__descr {
  width: 640px;
  font-weight: 500;
  font-size: 20px;
  align-self: flex-end;
}
.hiw__cards {
  display: flex;
  justify-content: space-around;
  gap: 95px;
}
.hiw__card {
  max-width: 390px;
}
.hiw__card:nth-child(2) {
  margin-top: 280px;
}
.hiw__card_num {
  position: relative;
  font-family: 'Georgia', serif;
  font-size: 150px;
  color:rgb(1 153 109 / 20%);
  margin-bottom: 55px;
}
.hiw__card__title {
  position: absolute;
  font-size: 30px;
  width: 100%;
  top: 115px;
  left: 100px;
  color: #000;
}
.hiw__card__descr {
  font-size: 20px;
  font-weight: 500;
  color: var(--text);
  width: 382px;
  margin-bottom: 60px;
}

/* cta */
.cta {
  padding: 229px 0 176px;
  background-color: #245852;
}
.cta__wrap {
  display: flex;
  align-items: center;
}
.cta__left {
  width: 580px;
}
.cta__subtitle {
  font-size: 25px;
  color: #fff;
  margin-bottom: 57px;
}
.cta__video {
  text-decoration: none;
}
.cta__img {
  width: 100%;
}

/* product */
.product {
  padding: 120px 0 168px;
}
.product__wrap {
  display: flex;
  gap: 86px; 
}
.product__right__wrap {
  position: relative;
}
.product__card {
  width: 296px;
  filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
  position: absolute;
  top: 350px;
  right: 400px;
  background-color: #fff;
  z-index: 1;
  padding: 30px 0;
}
.product__card__title {
  text-align: center;
  font-size: 15px;
  margin-bottom: 7px;
}
.product__card__line {
  width: 110px;
  height: 1px;
  background-color: #000;
  margin: 0 auto;
  margin-bottom: 13px;
}
.product__card__img {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}
.product__card__name {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}
.product__card__descr {
  font-family: 'Georgia', serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}
.product__card__list__item {
  font-size: 10px;
  margin-bottom: 15px;
  padding-left: 55px; 
}
.product__left__title {
  margin-bottom: 20px;

}
.product__left__descr {
  font-size: 20px;
  margin-bottom: 40px;
}

/* footer */
.footer {
  padding: 95px 0 145px;
  background-color: #245852;
}
.footer__link {
  text-decoration: none;
  margin-bottom: 60px;
  display: block;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__list__item {
  margin-bottom: 60px;
}
.footer__list__item:last-child {
  margin-bottom: 0;
}
.footer__list__link {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

/* media */

@media screen and (max-width: 1380px){
/* main */
section {
  padding: 100px 0!important;
}

/* header */
.header__nav {
  padding: 20px 0!important;
}

/* hiw */
.hiw__wrap {
  flex-direction: column;
  align-items: center;
}
.hiw__title__wrap, .hiw__descr {
  width: 100%;
}
.hiw__cards {
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.hiw__card {
  margin-top: 0;
}
.hiw__card:nth-child(2) {
  margin-top: 0;
}

/* cta */
.cta__wrap {
  flex-direction: column;
}
.cta__left {
  width: 100%;
  text-align: center;
}
.section__title-w {
  width: 100%;
}
.cta__btn {
  margin-bottom: 20px;
}

/* product */
.product__wrap {
  flex-direction: column-reverse;
  align-items: center;
}
}

@media screen and (max-width: 1000px){
/* header */
.header__nav__wrap {
  flex-direction: column;
  gap: 15px;
}
.header__title, .header__descr {
  max-width: 100%;
}

/* product */
.product__card {
  display: none;
}
.product__right__img {
  width: 100%;
}
}

@media screen and (max-width: 600px) {
/* main */
.section__title {
  font-size: 42px;
}
.section__title-g {
  margin-bottom: 20px;
}
/* header */
.header__mnu {
  gap: 10px;
}
.header__mnu__link {
  font-size: 14px;
}

/* hiw */
.hiw__card, .hiw__card__descr, .hiw__card__img {
  max-width: 100%;
}

/* footer */
.footer {
  padding: 100px 0;
}
.footer__list__link {
  font-size: 17px;
}
}



